%section
  %header
    %span.post-show-user
      - if @parent.user == post.user
        %span.post-root-user
          #{post.email}
      - else
        #{post.email}
      %i.fi-graph-trend.post-points
      %span.post-points=points(post.descendants.count)
    %i.fi-clock
    %span #{time_ago_in_words(post.created_at)} ago
  %article
    = post.body
  - if user_signed_in?
    %nav
      %i.fi-comment
      %a(class="reply-button"data-id="form#{post.hash}")
        reply
  .div
    - if user_signed_in?
      = form_tag(post_comment_path(parent_post: post), method: 'post', id: "form#{post.hash}", class: 'hide') do
        %p= text_area_tag(:body, '')
        = submit_tag("save", )
    - else
      %nav
        %i.fi-comment
        = link_to 'reply', new_user_session_path, notice: 'You must be logged in to leave comments!'
