- cache post do
  = render 'posts/show/votes'  , post: post, cache: true
  = render 'posts/show/header' , post: post, cache: true
  = render 'posts/show/article', post: post, cache: true
  = render 'posts/show/nav'    , post: post, cache: true
  = render 'posts/show/form'   , post: post, cache: true
