%p#notice= notice

= link_to 'Back', subtreddits_path
%p
  %b Name:
  = @subtreddit.name
%p
  %b Description:
  = @subtreddit.description

- @posts.each.with_index(1) do |post, index|
  .row.post-row
    .small-1.columns
      = index
    .small-11.columns
      = render 'posts/index/post_row', post: post

