.posts-index
  %h1 Treddit
  %p#notice= notice
  = link_to 'New Post', new_post_path
  - @posts.each.with_index(1) do |post, index|
    .row
      .small-1.columns
        = index
      .small-11.columns
        - if post.link.blank?
          %header
            = link_to post.title, post
            %span.post-location (self)
          %aside
            submitted: #{time_ago_in_words(post.created_at)} ago
          %nav= link_to 'comments', post
        - else
          %header
            = link_to post.title, post.link, target: "_blank"
            %span.post-location
              (#{post.link})
          %aside
            submitted: #{time_ago_in_words(post.created_at)} ago
          %nav= link_to 'comments', post