- @posts.each.with_index(1) do |post, index|
  .row.post-row
    - if imgur_link = post_imgur_link(post.link)
      .small-1.columns
        .index-col
          = index
        .vote-col
          .upvote
            = content_tag(:i, '', class: "fi-arrow-up")
          .vote-count
            = post.votes
      .small-1.columns
        = imgur_link
      .small-10.columns
        %header
          = post_link_to(post, index)
          %span.post-location
            = post_location(post)
        %aside
          submitted #{time_ago_in_words(post.created_at)} ago by
          %span.post-user
            = post.email
          = post_aside(post)
        %nav
          = link_to comments(post.descendants_depth), post
    - else
      .small-1.columns
        .index-col
          = index
        .vote-col
          .upvote
            = content_tag(:i, '', class: "fi-arrow-up")
          .vote-count
            = post.votes
      .small-11.columns
        %header
          = post_link_to(post, index)
          %span.post-location
            = post_location(post)
        %aside
          submitted #{time_ago_in_words(post.created_at)} ago by
          %span.post-user
            = post.email
          = post_aside(post)
        %nav
          = link_to comments(post.descendants_depth), post
