- cache @post do
  .post-show
    %h2
      = post_title(@post)
      %span.post-location
        = post_location(@post)
    %section
      = render 'posts/show/section', post: @post, cache: true
      = arranged_tree_as_list(@comments) do |post|
        = render 'posts/show/section', post: post, cache: true

