- cache @post.cache_key+@post.descendants_depth.to_s do
  %dl.sub-nav
    %dt
      = @post.subtreddit.name
    %dt
      = @post.subtreddit.description
  .post-row.row
    - if imgur_link = post_imgur_link(@post.link)
      .small-1.columns
        = render 'posts/index/vote_col', post: @post, count: @post.votes.count, index: 0, cache: true
      .small-1.columns
        = imgur_link
      .small-10.columns
        = render 'posts/index/post_row', post: @post, index: 0, cache: true
    - else
      .small-1.columns
        = render 'posts/index/vote_col', post: @post, count: @post.votes.count, index: 0, cache: true
      .small-11.columns
        = render 'posts/index/post_row', post: @post, index: 0, cache: true
  .post-row.row
    .small-1.columns
    .small-11.columns
      %article
        .post-body
          .post-body-inner
            = markdown @post.body
  .post-show
    %hr
    %h3
      = "#{@post.descendants_depth} comments"
    - if @comments.empty?
      No one has made a comment here yet.
      = link_to 'You could be the first!', new_post_comment_path(@post)
    - else
      = arranged_tree_as_list(@comments) do |post|
        = render 'posts/show/section', post: post, cache: true

