<%= link_to 'Back', posts_path %>
<h2><%= @parent.title %></h2>
<p><%= @parent.body %></p>
 <%= form_tag(post_comment_path(parent_post: @parent), method: 'post') do %>
  <%= text_area_tag(:body) %>
  </br>
  <%= submit_tag("Reply") %>
<% end %>

<%= arranged_tree_as_list(@posts, list_style: :bootstrap_list_group) do |post| %>
  <%= post.body %>
  <%= form_tag(post_comment_path(parent_post: post), method: 'post') do %>
    <%= text_area_tag(:body) %>
    </br>
    <%= submit_tag("Reply") %>
  <% end %>
<% end %>

