- if post.link.blank?
  %header
    = link_to post.title, post
    %span.post-location (self)
  %aside
    submitted: #{time_ago_in_words(post.created_at)} ago by
    %span.post-user
      = post.email
  %nav= link_to "#{post.subtree.count} comments", post
- else
  %header
    = link_to post.title, post.link, target: "_blank"
    %span.post-location
      (#{post.link})
  %aside
    submitted: #{time_ago_in_words(post.created_at)} ago by
    %span.post-user
      = post.email
  %nav= link_to "#{post.subtree.count} comments", post