- cache "count-#{count}-index-#{index}-post-#{post.id}" do
  .index-col
    = index
  .vote-col
    .upvote
    = content_tag(:i, '', class: "fi-arrow-up", "data-id" => post.id)
    .vote-count
      = count
